@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani&family=Roboto+Mono:ital,wght@1,300&family=Rosario:wght@300&display=swap");

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* 
font-family: 'Roboto Mono', monospace;
font-family: 'Rosario', sans-serif;  
font-family: 'Mukta Vaani', sans-serif;*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

p {
  color: white;
  font-family: "Mukta Vaani", sans-serif;
}

h1 {
  font-family: "Mukta Vaani", sans-serif;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: left;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.userEmailHeader {
  font-size: 1rem;
  margin-left: 20px;
}
.App-link {
  font-size: 0.80rem;
  color: #61dafb;
} 
.error {
  color: pink;
  font-size: 1rem;
}
button {
  margin: 10px 20px 5px 0;
  background-color: transparent;
  color: #fff;
  border: solid 2px #61dafb;
  padding: 5px 15px;
  border-radius: 15px;
}
button:hover {
  background-color: #61dafb;
  color: black;
  cursor: pointer;
}

input {
  padding: 10px 5px;
  margin: 10px 0;
  width: 230px;
}

